@model Employee_MVCApp.Models.EmployeeDepartmentWrapper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Department Code</th>
                    <th>Department Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.departments)
                {
                    <tr>
                        <td>@item.DepartmentCode</td>
                        <td>@item.DepartmentName</td>
                    </tr>
                }

                @*@foreach (var item in ViewBag.Departments)
                    {
                        <tr>
                            <td>@item.DepartmentCode</td>
                            <td>@item.DepartmentName</td>
                        </tr>
                    }*@

                @*@foreach (var item in  (List<Employee_MVCApp.Models.DepartmentModel>)ViewData["Departments"])
                    {
                        <tr>
                            <td>@item.DepartmentCode</td>
                            <td>@item.DepartmentName</td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <table>
            <thead>
                <tr>
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.employees)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Gender</td>
                        </tr>
                    }

                @*@foreach (var item in ViewBag.Employees)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Gender</td>
                        </tr>
                    }*@

                @*@foreach (var item in (List<Employee_MVCApp.Models.EmployeeModel>)ViewData["Employees"])
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Gender</td>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
</body>
</html>
